<div class="col-10 offset-1 about">
  <h1> About Splurtzy </h1>

  <p>Splurtzy was built by <a target="_blank" href="https://github.com/0rr">Seth</a>, a <a href="https://thefirehoseproject.com/">Firehose Project </a> student, as a first step into Ruby on Rails development. It might be best described as a sort of "Hello, World" project.</p>

  <p>The website's theme is a riff on "Overheard in [insert place]" newspaper columns, <a href="http://dcist.com/2017/10/overheard_in_dc_straight_from_the_t.php"> articles</a>, <a href="https://twitter.com/GSElevator"> twitter feeds</a>, etc., except that instead of the [place] being real, it is the fictional city of <a href="https://en.wikipedia.org/wiki/Ankh-Morpork"> Ankh-Morpork </a>. Ankh-Morpork is the main city in a set of 41 books written by the English author <a href="https://en.wikipedia.org/wiki/Terry_Pratchett">Terry Pratchett</a>. The quotes are excerpts from those books that I found funny. Feel free to add your own quotes using the <%= link_to 'Contribute', new_quote_path %> page.</p>
</div>

<div class="col-10 offset-1">
  <%= image_tag 'seth.png', class: 'img-fluid' %>
</div>


<br class-"clear"/>
<br />
<br />
<br />