<h2> 
  <span> SPLURTZY / No. <%= @quote.id %></span>
  You know you're in Discworld when you overhear: 
</h2>

<br />

<h1> <%= @quote.saying %></h1>
<h2 class="float-right"> <%= @quote.author %></h2>

